@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
}
body {
  width: 100%;
  height: 400px;
  background: #fff;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: start;
  margin: 200px auto;
  /* padding: 0 30px; */
  align-items: center;
  max-width: 1500 px;
  height: 290px;
  background: linear-gradient(
    to right,
    #fff 5%,
    pink 5% 10%,
    #fff 10% 12%,
    pink 12% 17%,
    #fff 17% 19%,
    pink 19% 24%,
    #fff 24% 26%,
    pink 26% 31%,
    #fff 31% 33%,
    pink 33% 38%,
    #fff 38% 40%,
    pink 40% 45%,
    #fff 45% 47%,
    pink 47% 52%,
    #fff 52% 54%,
    pink 54% 59%,
    #fff 59% 61%,
    pink 61% 66%,
    #fff 66% 68%,
    pink 68% 73%,
    #fff 73% 75%,
    pink 75% 80%,
    #fff 80% 82%,
    pink 82% 87%,
    #fff 87% 89%,
    pink 89% 94%,
    #fff 94%
  );
}
.service-box {
  max-width: 250px;
  text-align: center;
  margin: 25px 30px;
}
.service-box:nth-child(1) {
  margin-left: 100px;
}
.service-box:nth-child(3) {
  margin-right: 100px;
}

.service-box img {
  display: block;
  margin-left: 90px;
  margin-bottom: 15px;
  opacity: 1;
  width: 73px;
  height: 68px;
  transition: all 0.8s linear ease;
}
.service-box img:hover {
  -webkit-filter: sepia(1) hue-rotate(350deg) saturate(10);
  filter: sepia(1) hue-rotate(350deg) saturate(10);
  transform: scale(1.3);
}

.service-title {
  font-family: 'Poppins';
  letter-spacing: 1px;
  font-size: 15px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.service-text {
  font-size: 15px;
  font-weight: 200;
  line-height: 1.5;
  color: #6c7279;
}
