@font-face {
  font-family: "Aleo";
  src: url(fonts/Aleo-Font/aleo-regular-webfont.ttf);
  src: url(fonts/Aleo-Font/aleo-bold-webfont.ttf);
  src: url(fonts/Aleo-Font/aleo-light-webfont.ttf);
}
@font-face {
  font-family: "PT Sans";
  src: url(fonts/Aleo-Font/PTSans-Regular.ttf);
}
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: none;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  font-family: "PT Sans", "Aleo", sans-serif;
}

html {
  font-size: 65%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  border: 1rem solid #fff;
}

.btn {
  display: inline-block;
  font-size: 1.3rem;
  color: #fff;
  background: #5474fd;
  cursor: pointer;
  padding: 1rem 1.5rem;
  width: 15rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
  margin: 0;
  line-height: 2rem;
}

.btn:hover {
  color: #000;
  background: lightblue;
}

header.intro {
  width: 100%;
  height: 90vh;
  background-image: url(img/Mountains-min.webp);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header.intro h1 {
  font-size: 4.4rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-family: "PT Sans";
}
header.intro h4 {
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.4em;
  color: #fff;
  padding: 0.5rem;
  text-transform: capitalize;
}
header.intro .search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}
header.intro .search-form .search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50rem;
  padding: 0;
  color: #000;
  background: #fff;
  margin-top: 3rem;
  margin-right: 0;
  font-family: "PT Sans";
  border: 0.2rem solid #fff;
}
header.intro .search-form .search-box input {
  width: 100%;
  text-align: center;
}
header.intro .search-form .search-box .fa-search {
  font-size: 1.7rem;
  font-weight: 300;
}
header.intro .search-form .search-box::-webkit-input-placeholder {
  color: #666;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
header.intro .search-form .search-box::-moz-placeholder {
  color: #666;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
header.intro .search-form .search-box:-ms-input-placeholder {
  color: #666;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
header.intro .search-form .search-box::-ms-input-placeholder {
  color: #666;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
header.intro .search-form .search-box::placeholder {
  color: #666;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
}
header.intro .search-form .search-box input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
header.intro span {
  display: inline-block;
  color: #fff;
  font-size: 1.3rem;
  margin-top: 7rem;
  text-transform: capitalize;
}
header.intro .fa-chevron-down {
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1rem;
}

section.navigation {
  background: #5474fd;
  padding: 1rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
section.navigation .logo {
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
}
section.navigation .navbar a {
  color: #fff;
  font-size: 1.1rem;
  margin: 0 1.5rem;
  padding: 0.5rem 1.5rem;
  text-transform: uppercase;
}
section.navigation .navbar a:hover,
section.navigation .logo:hover {
  color: lightblue;
}

article.places {
  background: url(img/castle-min_1.webp);
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
article.places .text {
  width: 50%;
  padding: 10%;
  text-align: start;
}
article.places .text h1 {
  color: #fff;
  font-size: 2rem;
  font-family: "PT Sans";
  text-transform: capitalize;
  padding: 5rem 0;
}
article.places .text p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-weight: 200;
}
article.places .text .btn {
  margin-top: 8rem;
}
article.places .images {
  width: 50%;
  padding: 7%;
}
article.places .images img {
  max-width: 100%;
}
article.places .images img:nth-child(2) {
  margin-left: 10%;
}

section.icon-box {
  position: relative;
  background-color: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 4%;
}
section.icon-box img.eclipse {
  z-index: 1;
  padding: 5%;
  margin-bottom: 7rem;
}
section.icon-box .icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4%;
  margin-left: 0.5%;
  z-index: 10;
}
section.icon-box .icon {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.icon-box .icon span {
  color: #fff;
  font-size: 2rem;
  text-transform: capitalize;
}
section.icon-box a img {
  width: 5rem;
  height: 5rem;
}

section.spain {
  width: 100%;
  padding: 5%;
  background: url(img/spain-min.webp);
  background-position: center;
  background-size: cover;
}
section.spain .box {
  width: 35%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 10%;
  margin-top: 10%;
  padding: 4rem 2rem;
}
section.spain .box span {
  color: #fff;
  font-size: 1.2rem;
}
section.spain .box h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "PT Sans";
  text-transform: uppercase;
  padding: 2rem 0;
}
section.spain .box p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-weight: 200;
}
section.spain .box .btn {
  margin-top: 5rem;
}

section.sea {
  width: 100%;
  padding: 5%;
  background: url(img/sea-min_1.webp);
  background-position: center;
  background-size: cover;
}
section.sea .box {
  width: 35%;
  height: 50vh;
  background: rgba(0, 0, 0, 0.8);
  margin-left: 50%;
  margin-top: 10%;
  padding: 4rem 2rem;
}
section.sea .box span {
  color: #fff;
  font-size: 1.2rem;
}
section.sea .box h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "PT Sans";
  text-transform: uppercase;
  padding: 2rem 0;
}
section.sea .box p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-weight: 200;
}
section.sea .box .btn {
  margin-top: 5rem;
}

section.review {
  width: 100%;
  padding: 5%;
  background: url(img/man-min_1.webp);
  background-position: center;
  background-size: cover;
}
section.review h1 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #fff;
  font-weight: 700;
  font-family: "Aleo";
  text-align: center;
}
section.review .slide {
  margin-top: 5rem;
  padding: 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  position: relative;
  background: rgba(255, 255, 255, 0.1);
}
section.review .slide .fa-quote-left {
  font-size: 1.5rem;
  color: #5474fd;
  padding: 1rem;
  float: left;
}
section.review .slide .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.review .slide .user img {
  max-width: 80%;
}
section.review .slide .user h3 {
  color: #fff;
  font-size: 1.7rem;
  padding-bottom: 0.5rem;
}
section.review .slide p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-weight: 200;
}

footer.footer {
  background: #262626;
  text-align: center;
  padding: 1%;
}
footer.footer h2 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  font-family: "PT Sans";
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  padding: 1rem 0;
}
footer.footer span {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  font-weight: 200;
}
footer.footer .social {
  padding: 2rem;
}
footer.footer .social a {
  font-size: 1.4rem;
  padding: 0.8rem;
  color: #fff;
}
footer.footer .social a:hover {
  color: #5474fd;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #3d73a5;
  opacity: 1;
  overflow: hidden;
}

.loader-container img {
  width: 35rem;
}

.loader-container.fade-out {
  top: 110%;
  opacity: 0;
}