* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(95, 95, 95);
}
.container {
  width: 700px;
  border-bottom: 30px solid lightsteelblue;
  box-shadow: 0 0 55px rgb(226, 226, 226);
}

.container h1 {
  background: lightsteelblue;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}

.container ul li {
  list-style: none;
  padding: 10px;
  width: 100%;
  text-align: center;
  background: lightgray;
  box-shadow: 0 5px 25px gray;
}
.container ul li:hover {
  transform: scale(1.1);
  background: skyblue;
  box-shadow: 0 0 50px skyblue;
  border-radius: 20px;
  cursor: pointer;
}
