@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
body {
  background: grey;
}

.container {
  padding: 40px;
  width: 90vw;
  height: 100vh;
  margin: 0 auto;
  background: grey;
}

.team {
  height: 100%;
  display: flex;
  justify-content: space-around;

  margin: 20px auto;
  background: transparent;
}

.team-item {
  position: relative;
  padding: 0 15px;
  width: 30%;
  margin-bottom: 30px;
  margin-top: 10px;
  background: transparent;
}
.team-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border: 2px solid #30d5c8;
  opacity: 1;
}
.team-item:before {
  content: '';
  position: absolute;
  width: 290px;
  height: 435px;
  background: rgba(48, 213, 200, 0.6);
  z-index: -1000;
}
.team-item:hover .team-image {
  opacity: 0;
}
.team-item:hover.team-item:before {
  z-index: 10;
}
.team-name {
  font-family: 'Raleway';
  font-size: 22px;
  color: #2d3033;
  margin-bottom: 8px;
}
.team-prof {
  font-size: 13px;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: #262626;
}
.team-item .social {
  position: absolute;
  bottom: 53%;
  left: 25%;
  font-size: 25px;
  opacity: 0;
}
.team-item .social a {
  cursor: pointer;
  padding: 0 5px;
  color: #262626;
  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.3);
}
.team-item .social a:nth-child(1) {
  padding: 0 8px;
}

.team-item:hover .social {
  opacity: 1;
  z-index: 1000;
}
